html {
  scroll-behavior: smooth;
}
*:not(i) {
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-color: #2fc765;
  --color-partner: #17cc16;
  --secondary-color: #0a6b83;
  --bg-color: #ffffff;
  --text-color: #fff;
  --text-hover-color: #333;
}

.gradient-color {
  background-image: linear-gradient(
    to bottom right,
    var(--secondary-color),
    var(--color-partner)
  );
}
.my-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn {
  display: inline-block;
  background: var(--primary-color);
  color: #fff;
  /* width: 200px; */
  padding: 12px 34px;
  margin-bottom: 20px;
  margin: 10px;
  border-radius: 15px;
  align-items: center;
  transition: background 0.3s;
  text-decoration: none;
}

.btn:hover {
  background: var(--secondary-color);
}

/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set some global styles */
body {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
  color: #333;
  line-height: 1.6;
}

.container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}

.navbar #logo {
  height: 50px;
}
/* Navigation bar styles */
.navbar {
  width: 100%;
  position: fixed;
  z-index: 999;
  background-image: linear-gradient(
    to bottom right,
    var(--secondary-color),
    var(--color-partner)
  );
  color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.nav-links {
  margin-top: 12px;
  list-style: none;
  text-align: right;
}

.nav-links li {
  display: inline;
  margin-left: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: var(--text-hover);
}

.nav-links a.active {
  color: var(--text-hover);
}

.navbar-mobile {
  display: none;
}

/* Hamburger menu */
@media (max-width: 768px) {
  .navbar-mobile {
    display: none;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-image: linear-gradient(
      to bottom right,
      var(--secondary-color),
      var(--color-partner)
    );
    color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  }
  .nav-links {
    margin-top: 20px;
    display: none;
  }
  .nav-links li a{
    color: #fff;
    text-decoration: none;
    }
    .nav-links li {
        display: block;
        text-align: center;
        margin: 10px 0;
    }
}

/* Hero section styles */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero .container {
  height: 100vh;
  width: 100%;
  max-width: 1500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-col {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero h1 {
  font-size: 50px;
  margin-bottom: 20px;
  text-align: left;
}

.hero p {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: left;
}

.description-text {
  font-size: 12px;
  margin-bottom: 12px;
  text-align: left;
  color: #3333336e;
}

.hero-btns a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
}

.right-col {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right-col img {
  width: 90%;
  height: 60%;
  /* object-fit: ; */
}

/* hero responsive */
@media (max-width: 767px) {
  .hero .container {
    flex-direction: column;
  }

  .left-col {
    width: 100%;
    height: 100%;
  }

  .right-col {
    width: 100%;
    height: 100%;
  }

  .hero h1 {
    font-size: 30px;
  }

  .hero p {
    font-size: 15px;
  }

  .description-text {
    font-size: 10px;
  }

  .right-col img {
    width: 100%;
    /* height: 100%; */
  }
}

/* Solution we offer */
.solution {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  padding: 50px;
}

.solution .container {
  max-width: 1200px;
  width: 100%;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-color);
}

.section-title {
  font-size: 30px;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}

.solution-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.solution-card {
  padding: 12px 34px;
  width: 400px;
  height: 400px;
  margin: 10px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
}

.solution-img {
  width: 50%;
  height: 50%;
}

.solution-text {
  font-size: small;
}

.solution .btn {
  display: inline-block;
  background: var(--primary-color);
  color: #fff;
  padding: 12px 34px;
  margin-bottom: 20px;
  margin: 10px;
  border-radius: 15px;
  align-items: center;
  transition: background 0.3s;
  text-decoration: none;
}

.solution-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.solution-card:hover {
  transform: scale(1.01);
  transition: transform 0.3s;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

/* Solution We Offer responsive */
@media (max-width: 767px) {
  .solution-img {
    width: 80%;
    height: 80%;
  }
  .section-title {
    font-size: 20px;
  }
  .solution h2 {
    font-size: 15px;
  }
  .solution .solution-text {
    font-size: 10px;
  }
  .solution .container {
    flex-direction: column;
    width: 100%;
  }
  .solution .solution-cards {
    flex-direction: column;
  }

  .solution .solution-card {
    width: 100%;
    margin: 10px;
  }

  .solution-img {
    width: 50%;
    height: 50%;
  }

  .solution .btn {
    width: 100%;
  }
}

/* Service We Provide */
.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  padding: 50px;
}

.services .container {
  max-width: 1200px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-color);
}

.services .info_cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.services .card {
  padding: 12px 34px;
  width: 250px;
  height: 200px;
  margin: 10px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  cursor: pointer;
}

.services .card:hover {
  transform: scale(1.01);
  transition: transform 0.3s;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

/* SERVICES WE PROVIDE responsive */
@media (max-width: 767px) {
  .services .info_cards {
    flex-direction: column;
  }

  .services .card {
    width: 100%;
    margin: 10px;
  }

  .services .card h3 {
    font-size: 20px;
  }

  .services .card p {
    font-size: 12px;
  }
}

/* INDUSTRIES */
.industries {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  color: var(--text-color);
}

.industries .cards {
  max-width: 1200px;
  border-radius: 15px;
  margin: 10px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  background-color: var(--bg-color);
}

.industries .cards .card {
  padding: 12px 34px;
  width: 250px;
  height: 200px;
  margin: 10px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  cursor: pointer;
}

.industries-img {
  width: 80%;
  height: 80%;
}

.industries h5 {
  margin-top: 10px;
  text-align: center;
  color: var(--text-hover-color);
}

/* INUDSTRIES responsive */
@media (max-width: 767px) {
  .industries .cards {
    flex-direction: column;
    padding: 10px;
    margin-bottom: 0px;
  }

  .industries .cards .card {
    width: 100%;
    margin: 10px;
  }

  .industries-img {
    width: 50%;
    height: 50%;
  }
}

/* Our team */
.team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.founder-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.founder-card .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px 34px;
  width: 350px;
  /* height: 300px; */
  margin: 10px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  cursor: pointer;
}

.card-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.founder-card p {
  color: dimgray;
  margin-top: 10px;
}

.subtitle {
  font-size: 12px;
  margin: 20px;
  text-align: center;
}

/* Our team responsive */
@media (max-width: 767px) {
  .founder-card {
    flex-direction: column;
  }

  .founder-card .card {
    width: 100%;
    margin: 10px;
  }

  .card-img {
    width: 80px;
    height: 80px;
  }

  .subtitle {
    font-size: 10px;
    margin: 10px;
  }

  .founder-card p {
    font-size: 10px;
  }

  .founder-card .card h3 {
    font-size: 20px;
  }

  .founder-card .card h4 {
    font-size: 15px;
  }

  .founder-card .card h5 {
    font-size: 12px;
  }

  .founder-card .card h6 {
    font-size: 10px;
  }
}

/* Footer */

/* Footer */
footer {
  background-image: linear-gradient(
    to bottom right,
    var(--secondary-color),
    var(--color-partner)
  );
  padding: 50px;
  color: var(--text-color);
}

footer .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-section {
  flex: 1 1 300px;
  margin-bottom: 30px;
}

.footer-section.about {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-between;
  align-items: space-between;
}

footer .logo {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.contact {
  margin-top: 20px;
}

.contact span {
  display: block;
  margin-bottom: 10px;
}

.socials {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.socials a {
  margin: 0 10px;
  color: var(--text-hover-color);
  padding: 10px 15px;
  background-color: var(--bg-color);
  border-radius: 50%;
}

.footer-section.links h2 {
  margin-bottom: 10px;
}

.footer-section.links ul {
  list-style: none;
  padding: 0;
}

.footer-section.links ul a {
  color: var(--text-color);
  text-decoration: none;
}

.footer-section.links ul li {
  margin-bottom: 10px;
}

.footer-section.contact-form h2 {
  margin-bottom: 10px;
}

.text-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid var(--text-color);
}

.contact-btn {
  display: inline-block;
  padding: 10px calc(40px + 20px);
  background-color: var(--secondary-color);
  color: var(--text-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
  color: var(--text-hover-color);
}
/* FILEPATH: /Users/srijansamridh/Documents/WebDevelopment/cacsjs/styles/main.css */

/* Add a media query for screens smaller than 768px */
@media (max-width: 767px) {
  .footer-content {
    flex-direction: column;
  }

  .footer-section {
    flex: 1 1 auto;
    margin-bottom: 20px;
  }

  .footer-section.about {
    align-items: center;
  }

  .footer-section.links ul li {
    margin-bottom: 5px;
  }

  .text-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 8px;
  }

  .contact-btn {
    padding: 8px calc(30px + 15px);
  }

  .footer-section.links {
    display: none;
  }

}

/* Add a media query for screens smaller than 480px */
@media (max-width: 479px) {
  .footer-section.about {
    flex-direction: column;
    align-items: center;
  }

  .footer-section.links ul li {
    margin-bottom: 3px;
  }

  .text-input {
    width: 100%;
    padding: 6px;
    margin-bottom: 6px;
  }

  .contact-btn {
    padding: 6px calc(20px + 10px);
  }
}

/* Add more media queries as needed for different screen sizes */
